.start_page {
	color: black;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.btn_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.start_btn {
	margin: 10px;
	margin-bottom: 30px;
	padding: 12px 24px;
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid #03338dcb;
	color: #03338dcb;
	text-transform: uppercase;
	cursor: pointer;
}

.start_btn:hover,
.start_btn:focus,
.start_btn:active {
	background-color: #03338dcb;
	color: #fff;
}

.cardSize {
	width: 100%;
	max-width: 256px;
	height: 360px;
	margin: 20px 10px;
}