.game_page {
	color: black;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btn_wrapp {
	display: flex;;
	justify-content: center;
	width: 100%;
}

.add_btn {
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 12px 24px;
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid #03338dcb;
	color: #03338dcb;
	text-transform: uppercase;
	cursor: pointer;
}
.add_btn:hover,
.add_btn:focus,
.add_btn:active {
	background-color: #03338dcb;
	color: #fff;
}