.root {
	background-image: url('../../../../assets/board.png');
	background-size: 100% 100%;
	background-position: top center;
	background-repeat: no-repeat;
	/* height: calc(100vw / 1.71); */
	height: calc(100vw / 1.84);
	/* height: 100vh; */
  position: relative;
	/* top: -9px; */
}

.board {
	display: grid;
	grid-template-columns: auto auto auto;
	position: absolute;
	width: 50.3vw;
	/* height: 50.3vw; */
	height: 46vw;
	top: 4.8vw;
	left: 25.1vw;
	/* border: 1px solid yellow; */
}

.boardPlate {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	cursor: pointer;
}
.boardPlate:hover {
	background: rgba(255, 255, 255, 0.2);
}
.boardPlate.disabled:hover {
	background: none;
}

.playerOne {
	position: absolute;
	top: 4.8vw;
	left: 5vw;
	width: 18vw;
	/* height: 50.3vw; */
	height: 46vw;
	/* border: 1px solid white; */
}

.playerTwo {
	position: absolute;
	top: 4.8vw;
	right: 5vw;
	width: 18vw;
	/* height: 50.3vw; */
	height: 46vw;
	/* border: 1px solid white; */
}